* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

body {
    background: #e6f2f0;
    padding: 30px;
    color: #333;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    border: 4px solid #bfe7e4; 
    background: #ffffff;
    padding: 14px; 
    margin: 8px; 
    font-weight: 400;
}


#page-wrapper {
    width: 920px;
    margin: 0 auto;
    background: #fff;
    border: 8px solid #cfe8e6; 
    padding: 10px 18px;
}


    background-color: #cff6f3;
    border-color: #d7f0ee;
    padding: 18px;
    margin-bottom: 12px;
}

#site-title {
    margin: 0;
    float: right; 
    font-size: 40px;
    color: #2b9ea0;
    font-weight: 700; 

    #site-title .brand {
        font-weight: 800;
    }

#site-tagline {
    margin: 6px 0 0 0;
    color: #7aa7a6;
    font-size: 14px;
    float: right;
}

#left-sidebar {
    width: 220px;
    float: left; 
    margin-right: 18px;
}


.posts-column {
    margin-left: 260px; 
    padding-bottom: 10px;
}


.friends-block {
    background: #dff9f7;
    border-color: #9bd6d2;
    height: 220px;
}

.section-title {
    margin: 0 0 10px 0;
    color: #2b9ea0;
    font-size: 28px;
    font-weight: 700;
}


.friends-list {
    padding-left: 20px;
    margin: 6px 0 0 0;
}

.friend-item {
    margin: 6px 0;
}

    .friend-item a {
        text-decoration: none;
        color: #2a6665;
        font-weight: 600;
    }


.post {
    background: #eaf9f8;
    border-color: #cdeeea;
    margin-bottom: 18px;
    padding: 12px;
    overflow: visible;
}

.post-inner {
    border: 3px solid #e2f6f4;
    padding: 10px;
}

.post-title {
    margin: 0 0 10px 0;
    font-size: 26px;
    color: #2b9ea0;
    font-weight: 700;
}

    .post-title a {
        color: inherit;
        text-decoration: underline dashed 2px;
    }


.post-image {
    float: right;
    width: 140px;
    height: 110px;
    object-fit: cover;
    border: 2px solid #d1f0ee;
    padding: 4px;
    margin-left: 12px;
}


.post-content {
    color: #7d5a5a;
    line-height: 1.6;
    font-size: 15px;
}


.post .date {
    font-weight: 700;
    color: #ad7e7e;
}


@media (max-width: 760px) {
    #page-wrapper {
        width: 95%;
        padding: 12px;
    }

    #left-sidebar {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .posts-column {
        margin-left: 0;
    }

    .post-image {
        float: none;
        display: block;
        margin: 8px auto;
        width: 80%;
        height: auto;
    }
}
